
<h1>Resources</h1>
<hr />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th colspan="3">Web Development Resources</th>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "Treehouse", "http://teamtreehouse.com", :target => '_blank' %>
      <td><%= link_to "Beginning Ruby", "http://www.amazon.com/gp/product/1430223634", :target => '_blank' %>
    </tr>
    <tr>
      <td><%= link_to "Code School", "http://codeschool.com", :target => '_blank' %>
      <td><%= link_to "Well Guided Rubyist", "http://www.amazon.com/gp/product/1430223634", :target => '_blank' %>
    </tr>
    <tr>
      <td><%= link_to "Rails Casts", "http://railscasts.com/", :target => '_blank' %>
      <td><%= link_to "The Ruby Way", "http://www.amazon.com/gp/product/0672328844", :target => '_blank' %>
    </tr>
    <tr>
      <td><%= link_to "Learning to Program", "http://pine.fm/LearnToProgram/", :target => '_blank' %>
      <td><%= link_to "Agile Web Development with Rails", "http://pragprog.com/book/rails4/agile-web-development-with-rails", :target => '_blank' %>
    </tr>
    <tr>
      <td><%= link_to "Rails Tutorial by Michael Hartl", "http://ruby.railstutorial.org/", :target => '_blank' %>
      <td><%= link_to "Programming Ruby (The PickAxe Book)", "http://pragprog.com/book/ruby3/programming-ruby-1-9", :target => '_blank' %>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th colspan="3">Web Design Resources</th>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "Treehouse", "http://teamtreehouse.com", :target => '_blank' %>
      <td><%= link_to "Beginners Guide to HTML & CSS", "http://learn.shayhowe.com", :target => '_blank' %>
    </tr>
    <tr>
      <td><%= link_to "HTML & CSS in 30 Days", "http://learncss.tutsplus.com/", :target => '_blank' %>
      <td><%= link_to "Net tuts+", "http://net.tutsplus.com/", :target => '_blank' %>
    </tr>
    <tr>
      <td><%= link_to "Smashing Magazine", "http://www.smashingmagazine.com/", :target => '_blank' %>  
      <td><%= link_to "Dribble", "http://dribbble.com/", :target => '_blank' %>
    </tr>
    <tr>
      <td><%= link_to "Pattern Tap", "http://patterntap.com/", :target => '_blank' %>
      <td><%= link_to "Zerply", "http://zerply.com/", :target => '_blank' %>
    </tr>
    <tr>
      <td><%= link_to "W3 Schools", "http://www.w3schools.com/", :target => '_blank' %>
      <td><%= link_to "HTML Dog", "http://htmldog.com/", :target => '_blank' %>
    </tr>
  </tbody>
</table>
