<hr />
<p id="copy">&copy;Built with <%= link_to "Twitter Bootstrap", "http://twitter.github.com/bootstrap/index.html" %> 
by <%= link_to "Dan Lavin", "http://www.linkedin.com/pub/daniel-lavin/9/604/198" %>
</p>

<div id="social">
  <a href="http://linkedin.com" target="_blank"> <%= image_tag("linkedin_32.png", :alt  => "Linkedin") %></a> 
  <a href="http://twitter.com" target="_blank"> <%= image_tag("twitter_32.png", :alt => "Twitter") %></a>
  <a href="http://facebook.com" target="_blank"> <%= image_tag("facebook_32.png", :alt => "Facebook") %></a>
  <a href="mailto:daniel.e.lavin@gmail.com" target="_blank"><%= image_tag("email_32.png", :alt  => "email") %></a> 
  <a href="http://tumblr.com" target="_blank"> <%= image_tag("tumblr_32.png", :alt => "Tumblr") %></a>
</div>